/* Universal Styles */

* {
    box-sizing: border-box;
  }

  html {
    font-size: 20px;
    margin: 0 auto;
  }

a {
  text-decoration: none;
}
  body {
   font-family: Edwrdian Script ITC;
   background-color: white;
   color: black;
    margin: 0 auto;
   }

   h1 {
    font-size: 3.5rem;
    font-weight: bold;

  }
  h2 {
    font-size: 3rem;
    font-weight: bold;

  }

  h3 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  p {
    font-size: 2rem;
  }
  em {
    font-size: 2rem;
  }
  li{
    font-size: 2rem;
  }
  .fluid-container{
    margin: 0 auto;

  }
  .container {
   margin: 0 auto;
   width: 100%;
  }
   /* pages containers */
.sevices-conteiner, 
.reiki-container{
  padding-top: 150px;
}
  /* Navigation */
  #navbar-primary a {
  text-decoration: none;
  color: black;
  }
  #navbar-primary a:hover{
    color: #a79031;
  }
   .navbar-nav li a:hover{
    border-radius: 50%;
  }

  #navbar-primary img {
  border-radius: 100px /50px;
  padding: 0;
  }

  #navbar-primary {
   display: inline;
   background-color: white;
   border-bottom: 1px solid #a79031;
   color: black;
   width: 100%;
   position: fixed;
   z-index: 5;

  }

/* desktop and tablet */
  
  @media (min-width : 992px) {

    #navbar-primary .navbar-nav li{
      font-size: 2rem;
      padding: 35px 5px;
    }
    #navbar-primary img{
      width: 150px;
      height: 75px;
     margin: 20px;
    }
    #navbar-primary .navbar-nav {
    margin-right: 50px;
    }
    }


  @media  (min-width : 768px){

  #navbar-primary .navbar-nav li{
    font-size: 1.7rem;
    padding: 20px 0;
  }
  #navbar-primary img{
    width: 120px;
    height: 60px;
    margin:20px;
  }
  #navbar-primary .navbar-nav{
    margin-right: 40px;
  }
  }

  @media (min-width : 768px) {
  
  #navbar-primary li {
   font-size: 1.8rem;
   padding-top:10px;
  }
    #navbar-primary img {
   margin: 20px 10px;
    width: 100px;
    height: 50px;
    }
   #navbar-primary .navbar-nav {
    margin-top: 6px;
    margin-right: 10px;
    }
  }

     /* mobile*/ 
     @media  (max-width : 768px) {
    
     #navbar-primary li {
      font-size: 1.5rem;
     }
       #navbar-primary img {
       margin: 30px 10px;
       width: 80px;
       height: 40px;
       border-radius: 100px /50px;
       padding: 0;
       }
      #navbar-primary .navbar-nav {
         margin-bottom: 20px;
         margin-top: 100px;
         text-align: center;
       }
       #navbar-primary span {
         padding-bottom: 30px;
         font-size: 1.5rem;
       }
     }

   /*product page*/

   
   @media only screen and (min-width : 767px){

    #SDoil{
      text-align: center;
      width: 500px;
      height: 300px;
    }
     .oils {
    float: left;
     width: 300px;
     height: 200px;
     margin-right: 40px;
   }
   .benefits {
     color: black;
     margin-top:30px;
     margin-bottom:20px;
     font-size: 2rem;

   }
  }
   @media only screen and (max-width : 767px){

    .oils {
      width: 290px;
      height: 200px;
    }
    #SDoil{
      text-align: center;
      width: 300px;
      height: 159px;
    }
  }

   @media only screen and (max-width : 425px){
    #title h1 {
      font-size: 2rem;
    }
     .benefits{
       font-size: 1.5rem;
       position: relative;

     }
     .oils{
       text-align: center;
       margin-bottom: 20px;
     }
   }

   /*services page*/

.box-services{
 color: white;
 margin: 0 auto;
 padding: 0 20px;
}

.services{
  margin: 0 auto;
  text-align: center;
 border-top-left-radius: 5%;
  border-top-right-radius: 5%;
 }
/* Style the button that is used to open and close the collapsible content */
.button-services {
background-color: #2d2233;
color: #a79031;
 cursor: pointer;
 padding: 18px;
 border: 1px solid #a79031;
 text-align: center;
 outline: none;
 font-size: 15px;
 margin: 0 auto;
 margin-bottom: 50px;
 text-align: center;
position: relative;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
 background-color:#693088;
}

@media (min-width : 769px){
 .services {
  width: 300px;
   height: 160px;
 }
  .button-services  { 
    width: 300px;

 }
 .button-title {
   font-size: 3rem;
 }
}
@media (min-width : 1200px){
 .services {
  width: 500px;
  height: 300px;
 }
  .button-services  {
    width: 500px; 
 }
 .button-title {
   font-size: 4rem;
 }
}
@media (min-width : 1124px){
 .services  {
  width: 450px;
  height: 220px;
 }
  .button-services  {
    width: 450px; 
 }
 .button-title {
   font-size: 4rem;
 }
}
@media (max-width : 768px){
  .services {
    width: 400px;
    height: 280px;
  }
   .button-services {
     width: 400px;
    
  }
 .button-title {
   font-size: 2.80rem;
 }
 }

@media (max-width: 468px){

 .services  {
   height: 220px;
   width: 300px;
 }
  .button-services  {
    width: 300px;
 }
.button-title {
  font-size: 2.5rem;
}
.box-services{
 margin: 0 auto;
 padding: 0 20px;
}
}

@media (max-width: 375px){

 .services  {
   height: 200px;
   width: 300px;
 }
  .button-services  {
    width: 300px;
 }
.button-title {
  font-size: 2.5rem;
}
.box-services{
 margin: 0 auto;
 padding: 0 20px;
}
}


   /* myStory */
   #myStory{
    max-width: 900px;
    margin: 100px auto;
   text-align: left;
   }
   /* index.html */
   #indexh1 {
    margin-top:200px;
    color: black;
   }
   #index {
      text-align: center;
   }
  
  @media only screen and (min-width : 767px){
    
  
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 50px;
    padding: 50px 70px;
    background-color: white;
  }
  .item span {
    font-style: normal;
  }
}
  @media only screen and (max-width : 767px){
   
    #reviews {
      font-size: 2rem;
      font-weight: bold;
    }
    .item h4{
      font-size: 1.7rem;
      font-style: italic;
      background-color: white;
      margin-bottom: 50px;
    }
    .item span {
      font-style: normal;
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 700px) { 

    ::i-block-chrome, .row.safari-fix  {
      display:table!important;
    }
   ::i-block-chrome, .row.safari-fix [class*="col-sm-6"] {
      display:table-cell!important;
      float:none!important;
     width:auto!important;
     padding-left:2%!important;
     padding-right:2%!important;
    }
  } /* end safari rounding bug hack */

   /* lashes.html, brows.html and microblading.html, reiki*/

   .lashPara {
    font-size: 2rem;
     text-align: center;
   }
   .lashtitle{
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
   }
   .microtitle{
    font-size: 2rem;
    text-align: center;
   }
   @media only screen and (min-width : 767px){

   .lashimg {
      text-align: center;
      width: 500px;
     margin: 5px;
    }
     .lashPara{
       margin: 0 20%;
     }
    .browimg{
      text-align: center;
      width: 500px;
      margin: 5px;
    }
  }
   @media only screen and (max-width : 767px){

    .lashimg{
      text-align: center;
      max-width: 500px;
      margin-right: 10px;
    }
    .browimg{
      text-align: center;
      width: 300px;
      margin: 10px;
    }

  }
   @media only screen and (max-width : 468px) {

     .lashimg {
       text-align: center;
       max-width: 300px;
       margin-right: 10px;
     }

     .browimg {
       text-align: center;
       width: 300px;
       margin: 10px;
     }

   }
   .reiki-image{
     width:290px;
     height:400px; 
     margin-right:20px;
   }
  @media(max-width:425px ){
    .reiki-image{
      width: 100%;
      height:300px; 
      padding: 5px;
    }
  }
   /* contact */
  
    .contact {
    margin: 0 auto;
    background-color: #cfc8ab;
    padding: 20px;
    text-align: center;
    border:1px solid #a79031;
    color: #2d2233;
  }
  .social {
    color: #a79031;
    background-color: #2d2233;
    padding: 10px;
    border: 1px solid #a79031;
    border-radius: 40%;
    margin: 5px;
  }
  #copyright {
     margin: 0 auto;
     width: 100%;
    text-align: center;
    background-color: #a3965f;
    color: #693088;
    padding: 10px;
  }
