/* Universal Styles */

* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 20px;
    margin: 0 auto;
  }
  
  
  body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: white;
   color: black;
    margin: 0 auto;
   } 
   
  
  h2 {
    font-size: 1.7rem;
    font-weight: bold;
  
  }
  
  h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .container { 
    margin-top:50px;
    margin-bottom: 50px;
    
   
    background-color: white;
    color: black !important;
    text-anchor: none;
  }
  .fluid-container{
    margin: 0;
    
  }
  
  /* Navigation */
  #navbar-primary a {
  text-decoration: none;
  color: black;
  }
  #navbar-primary a:hover{
    color: #a79031;
  }
   .navbar-nav li a:hover{
    border-radius: 50%;
  }
  
  
  
  #navbar-primary {
   font-family: 'Shadows Into Light', cursive;
   background-color: white;
   border-bottom: 1px solid #a79031;
   color: black;
   width: 100%;
   position: fixed;
   z-index: 5;
  
  }
  
  
  
  @media only screen and (min-width : 992px) {
  
    #navbar-primary .navbar-nav li{
      font-size: 2rem;
      padding: 35px;
    }
    #navbar-primary img{
      width: 150px;
      height: 75px;
      border-radius: 100px / 50px;
     padding:0;
     margin: 20px;
    }
   
    } 
 
 
    
    
   
   
    
  @media  (min-width : 768px) and (max-width: 991px) and (orientation: landscape) {
  
  #navbar-primary .navbar-nav li{
    font-size: 2rem;
    padding: 15px;
  }
  #navbar-primary img{
    width: 120px;
    height: 60px;
    border-radius: 100px / 50px;
    margin:15px;
    padding: 0;
  }
  }

  
  
     /* mobile */
     @media only screen and (max-width : 767px) {
     #navbar-primary{
       margin-bottom: 100px;
     }
     #navbar-primary li {
      font-size: 1.5rem;
       text-align: center;
 
     }
       #navbar-primary img {
      margin: 20px;
       width: 100px;
       height: 50px;
       border-radius: 100px /50px;
       padding: 0;
       }
       #navbar-primary .navbar-nav li:hover{
         background-color: none;
       }
      #navbar-primary .navbar-nav {
         margin-bottom: 20px;
         margin-top: 100px;
         
       }
     }
  
   /*product page*/
  
   #title{
    font-family: 'Permanent Marker', cursive;
   }
   @media only screen and (min-width : 767px){
  
    #SDoil{
      text-align: center;
      width: 500px;
      height: 300px;
    }
     .oils {
    float: left;
     width: 300px;
     height: 200px;
     margin-right: 40px;
   }
   .benefits {
     color: black;
     margin-top:30px;
     margin-bottom:20px;
     font-size: 2rem;
    
   }
  }
   @media only screen and (max-width : 767px){
    
    .oils {
      width: 290px;
      height: 200px;
    }
    #SDoil{
      text-align: center;
      width: 300px;
      height: 159px;
    }
  }
     
   @media only screen and (max-width : 425px){
    #title h1 {
      font-size: 2rem;
    }
     .benefits{
       font-size: 1.5rem;
       position: relative;
  
     }
     .oils{
       text-align: center;
       margin-bottom: 20px;
     }
   }
  
   /*services page*/

.box-services{
 text-align: center;
 color: white;
 
}
.services{
  opacity: 5;
}




@media only screen and (min-width : 768px){
 .services{
   text-align: center;
   width: 600px;
  
 }
  .collapsible {
    text-align: center;
    width: 600px;
    height: 70px;
    margin-top: 90px;
    margin-bottom: 50px;
   text-align: center;
   position: relative;
 }
 .centered {
  font-size: 5rem;
  z-index: 3;
 font-family: 'Permanent Marker', cursive;
 margin-top: -160px;
 text-align: center;
 
}
}

@media only screen and (max-width : 767px){
  .services{
    text-align: center;
    width: 400px;
    height: 250px;
 
  }
   .collapsible {
     text-align: center;
     width: 400px;
     height: 80px;
     margin-bottom: 50px;
   
  }
  .centered {
    font-size: 4rem;
    z-index: 3;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Permanent Marker', cursive;
  }
 }

@media only screen and (max-width: 425px){
 .box-services{
   text-align: center;
   margin-bottom: 50px;
  
 }
 .services{
   width: 300px;
   height: 200px;
   text-align: center;

 }
  .collapsible {
    width: 300px;
    height: 80px;
    text-align: center;
 }
 .centered {
  font-size: 4rem;
  z-index: 3;
 position: absolute;
 top: 40%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-family: 'Permanent Marker', cursive;
}
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
background-color: #2d2233;
color: #a79031;
 cursor: pointer;
 padding: 18px;
 border: 1px solid #a79031;
 text-align: center;
 outline: none;
 font-size: 15px;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
 background-color:#693088;
}
  
  
   /* myStory */
   #myStory{
    max-width: 900px;
    margin: 100px auto;
   text-align: left;
   }
   /* index.html */
   #indexh1 {
     font-family: 'Permanent Marker', cursive;
    margin-top:200px; 
    color: black;
   }
   
  
   /* lashes.html, brows.html and microblading.html*/
   .lashPara {
    font-size: 2rem;
     text-align: center;
   }
   .lashtitle{
    font-family: 'Permanent Marker', cursive; 
    font-size: 2rem;
    text-align: center;
   }
   .microtitle{
    font-family: 'Permanent Marker', cursive; 
    font-size: 2rem;
    text-align: center;
   }
   @media only screen and (min-width : 767px){
  
   .lashimg {
      text-align: center;
      width: 500px;
    margin: 20px;
    }
     .lashPara{
       margin: 0 20%;
     }
    .browimg{
      text-align: center;
      width: 500px;
      margin: 20px;
    }
  }
   @media only screen and (max-width : 767px){
  
    .lashimg{
      text-align: center;
      width: 300px;
      margin-right: 10px;
    }
    .browimg{
      text-align: center;
      width: 300px;
      margin: 20px;
    }
   
  }
 
 
   /* contact */
  
    footer {
    background-color: #cfc8ab;
    padding: 20px;
    text-align: center;
    border:1px solid #a79031;
    color: #2d2233;
  }
  .social {
    color: #a79031;
    background-color: #2d2233;
    padding: 10px;
    border: 1px solid #a79031;
    border-radius: 40%;
    margin: 5px;
  }
  #copyright {
    text-align: center;
    background-color: #a3965f;
    color: #693088;
    padding: 10px;
  }
